@import url('default.css');

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    h1{
        font-size: 2rem;
        font-weight: 500;
    }
    > div {
        width: 30%;
    }
    > img {
        width: 30%;
        height: 30%;
    }
}