@import url('default.css');

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Lexend;
    font-weight: 500;
    font-size: 1.2rem;
    /* position: sticky;
    top: 0; */
    background-color: white;
    z-index: 1000;
    padding: 1rem;
    > #icon{
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
            width: 50px;
            height: 50px;
        }
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 10px;
        > li{
            margin: 0 10px;
            > a{
                text-decoration: none;
                color: black;
                font-weight: 600;
                font-family: Lexend Giga;
                &:hover{
                    color: #FFA500;
                }
            }
        }
    }
}
