nav{
    display: none;
}
#pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        width: 60%;
        position: relative;
        > img {
            width: clamp(300px,50%,700px);
            height: clamp(300px,50%,700px);
        }
        p{
            margin: 1rem 0 3rem 0;
        }
        p, span{
            color: #5F6368;
        }
    }

    .stepsFlex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 1rem;
        >div{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
        }
    }
}
@media (min-width: 768px){
    nav{
        display: block;
    }
}

@media (min-width: 1440px){
    #pages{
        margin-bottom: 2rem;
        > div {
            width: 80%;
            flex-wrap: nowrap;
        }
    }
}