@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1rem;
    font-family: "Lexend";
}

#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  > #detail{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

nav{
  font-weight: 500;
  margin-top: min(20vh, 100px);
  margin-left: 10vw;
  margin-bottom: 1.5rem;
  > img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
}

@media (min-height: 800px){
  nav{
    margin: 0;
    position: absolute;
    top: 10vh;
    left: 10vw;
  }
}


h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
h4{
  font-size: 1.2rem;
  font-family: "Lexend Giga";
}

h1, h2{
  font-weight: 500;
  color: black;
}

p{
  font-family: "Lexend Giga";
  font-weight: 400;
}
#pages p{
  font-family: "Roboto Flex";
}

button, a{
  font-family: "Lexend Giga";
  font-weight: 600;
  text-decoration: none;
}

.primary-button, .skip-button{
  padding: 1.1rem 1rem;
  border-radius: 10px;
  border: 1px solid #3BA0FD;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.primary-button{
  background-color: #3BA0FD;
  color: white;
}
.primary-button:hover{
  background-color: white;
  color: #3BA0FD;
}

.skip-button{
  background-color: white;
  color: #3BA0FD;
}
.skip-button:hover{
  background-color: #3BA0FD;
  color: white;
}

.skip-button-2{
  color: #3BA0FD;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  > .icon{
    width: 1rem;
    height: 1rem;
    transition: stroke 0.3s ease;
    vertical-align: middle;
    fill: none;
    stroke: #3BA0FD; /* Initial color */
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}
.skip-button-2:hover{
  color: #5F6368;
  cursor: pointer;
  > .icon .st0{
    stroke: #5F6368;
  }
}


.base {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS transition states for fade and slide effect */
.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
  