@import url('default.css');

#setup{
    background-color: #5F6368;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    > video{
        width: 40%;
        height: 80vh;
    }
    > p {
        text-align: right;
        width: 30%;
        font-family: Lexend Giga;
    }
}
