* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 600px;
    width: 800px;
    background-color: #f1f1f1;
    font-family: Tahoma, Geneva, sans-serif;
}

.checkbox__wrapper {
    display: flex;
    justify-content: end;
}

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #c3cbdc;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 1s ease; /* Add this line */
}

input[type="checkbox"]:checked {
    background: green;
}

input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    transform: scale(0.9);
}

input[type="checkbox"]:checked::before {
    transform: translateX(100%) scale(0.9);
    background: #fff;
}



