#factChecking {
  .flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .clickable-div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    border-style: solid;
    border-color: #dfdcd8;
    border-width: 1px;
  }

  .clickable-div:first-child {
    border-bottom: none;
  }

  .status-indicator {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    border-radius: 5px;
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    
  }


  .all-indicator {
    color: white;
    background-color: #7C7C7CB2;
  }

  .entailment-indicator {
    color: white;
    background-color: #3BA0FDC7;
  }

  .contra-indicator {
    color: white;
    background-color: #F53335BD;
  }

  .neutral-indicator {
    color: white;
    background-color: #9043C3C7;
  }

  .status-text {
    font-family: "Roboto Slab", serif;
    color: #7E939A;
  }
}
