/* body section */
#body {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  position: relative;
  > *
  {
    background-color: #FBFCFF;
  }
}

#body > div {
  opacity: 0;
  position: absolute;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  height: 100%;
}
#body > div > div {
  /* position: absolute; */
  top: 0;
  box-sizing: border-box;
  width: 100%;
}

#body .selectedOption {
  opacity: 1;
}

#body .appearRight {
  animation: appearRight 1s forwards;
}

#body .appearLeft {
  animation: appearLeft 1s forwards;
}

#body .disappearRight {
  animation: disappearRight 1s forwards;
}

#body .disappearLeft {
  animation: disappearLeft 1s forwards;
}

#body .hidden {
  display: none;
}

@keyframes appearRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes appearLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes disappearLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  @keyframes disappearRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }