/* header */
header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  padding: 0.5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  padding: 10px;
  padding-right: 2rem;
  padding-left: 2rem;
}

.board::before,
.board::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px; /* Height of the border */
  background-color: grey; /* Color of the border */
  width: 0%; /* Start with a small width */
  transition: all 0.5s ease; /* Smooth transition for the border */
  animation: 1s ease-out forwards; /* Animation duration and timing */
}

.board::before {
  left: 0; /* Start from the left edge */
  animation-name: growFromLeft; /* Animation for growing from left */
}

.board::after {
  right: 0; /* Start from the right edge */
  animation-name: growFromRight; /* Animation for growing from right */
}

.TitleLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  > div:nth-child(1){
    display: flex;
    gap: 10px;
    align-items: center;
    transform-origin: left;
    animation: appearLeftToCenter 1s ease-out forwards;
  }
  > div:nth-child(2) {
    display: flex;
    gap: 10px;
    >span{
      color: #3BA0FD;
      transform-origin: right;
      animation: appearRightToCenter 1s ease-out forwards;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.logo {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.popupTitle {
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
}
.forc {
  font-weight: 400;
  color: #7e7e7e;
}

/* title logo */
@keyframes appearLeftToCenter {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* title logo */
@keyframes appearRightToCenter {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* for title logo border */
@keyframes growFromLeft {
  from {
    width: 0;
  }
  to {
    width: 50%;
  } /* Grow to the middle */
}

@keyframes growFromRight {
  from {
    width: 0;
  }
  to {
    width: 50%;
  } /* Grow to the middle */
}
