/* body section */
#body {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

#body > div {
  opacity: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
#body > div > div {
  box-sizing: border-box;
  width: 100%;
}

#body .appearLeft {
  animation: appearLeft 1s forwards;
}

@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  