/* options animation */
/* options */
#tooltip {
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  font-family: "Roboto Slab", sans-serif;
  color: white;
  > div {
    border: none;
    padding: 1rem;
    background-color: #52b83f;
    position: relative;
    width: 100%;
    img{
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
    p {
      font-size: 0.8rem;
      > * {
        font-size: 0.8rem;
      }
    }
  }
}



