/* options animation */
/* options */
#tooltip {
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  font-family: 'Times New Roman', Times, serif;
  color: #515151;
  > div {
    border: none;
    padding: 1rem;
    background-color: rgba(112, 117, 203, 0.2);
    position: relative;
    width: 100%;
    img{
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
    p {
      font-size: 0.8rem;
      > * {
        font-size: 0.8rem;
      }
    }
  }
}



