/* options animation */
/* options */
#tooltip {
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
  color: white;
  > div {
    border: none;
    padding: 1rem;
    background-color: rgb(211, 55, 55);
    position: relative;
    width: 100%;
    img{
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}



