@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

body {
  font-weight: bold;
}

:root {
  font-family: "Roboto Slab";
}

.content {
  padding: 20px;
  padding-left: 40px;
  margin-top: -10px;
  background-color: #FBFCFF;
  border: 1px solid #ccc;
}

/* Container */
.health-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Header Icons */
.header-icons {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.5px;
 
}

/* Title */
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


/* Date Container */
.date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}

/* Date */
.datess {
  font-size: 14px;
  color: #777;
  margin: 0;
  padding: 0;
}

/* Last Updated */
.last-updated {
  font-size: 10px;
  color: #777;
}

/* Body Text */
.body-text {
  font-size: 14px;
  color: #545454;
  margin-bottom: 10px;
}

/* URL */
.url {
  font-style: italic;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.url:hover {
  text-decoration: underline;
}

h2 {
  color: #333;
}

.icon {
  font-weight: bold;
  color: #1e1919;
  font-size: 20px;
}

.logo {
  width: 50px; 
  height: 50px; 
  object-fit: contain; 
  border-radius: 4px; 
}

.logo-container {
  display: flex;
  align-items: center; 
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc; 
}

.date{
  color: #3BA0FD;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none; /* Hide the scrollbar */
  -ms-overflow-style: none; /* Hide the scrollbar for Internet Explorer and Edge */
}