body{
    background-color: rgb(42,42,46);
    > div {
        background-color: inherit;
        > div {
            background-color: inherit;
        }
    }
}

.pdf-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    gap: 1rem;
}

.pdf-page{
    padding: 1rem;
    background-color: white;
}