@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

.linkHomeBelow{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #474747;
    font-family: "Roboto Slab";
}

.linkHomeBelow a{
    color: #fff;
    text-decoration: none;
}

.linkHomeBelow a:hover{
    text-decoration: underline;
}