.mainContent {
  flex: 1;
  overflow-y: auto;
  max-height: 200px;
}

.mainContent::-webkit-scrollbar {
  width: 12px;
}

.mainContent::-webkit-scrollbar-track {
  background: none;
}

.mainContent::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

.mainContent::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
