.popupSummary {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.containerSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: px;
  padding-left: 60px;
  padding-right: 60px;
  font-style: bold;
}

/* .popupSummary span {
  font-weight: bold;
} */
