.popupSummary {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.containerSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: px;
  padding-left: 60px;
  padding-right: 60px;
  font-style: bold;
}

.tileHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #5c5b5b;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

.tileBorder {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.howToUse {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  position: absolute;
  color: #5c5b5b;
  z-index: 1000;
  top: 85%;
  left: 65%;
}

.help {
  margin-right: -5px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.helpText {
  display: inline-block;
}

.health-tips-container {
  padding-left: 10px;
  margin-left: 10px;
}

.tips {
  border: 1px solid #ccc; 
  margin: 10px 5px 15px 15px;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.date {
  font-size: 13px;
  color: #777;
}

.body-text {
  font-size: 10px;
  color: #545454;
  margin-bottom: 10px;
}

.url {
  font-style: italic;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.url:hover {
  text-decoration: underline;
}

.content {
  padding: 10px 20px 20px 20px;

}