.popupSummary {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.containerSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: px;
  padding-left: 60px;
  padding-right: 60px;
  font-style: bold;
}

.tileHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #5c5b5b;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

.tileBorder {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
