#factChecking{
    .evidence{
        font-family: Roboto Slab;
        position: relative;
        margin-bottom: 15px;
        background-color: #FBFCFF;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: grey; /* Adjust the color as needed */
            margin-top: 15px; /* Adjust the spacing as needed */
        }
        > div {
            margin-top: 0.5rem;
            margin-bottom: 0.7rem;
        }
        img{
            height: 1rem;
            width: 1rem;
            position: absolute;
            border: 2px solid #3BA0FD;
            border-radius: 5px;
            top: 5px;
            left: -41px;
            background-color: white;
        }
        a{
            font-size: 1rem;
            text-decoration: none;
            color: var(--url-color);   
        }
        a:hover{
            text-decoration: underline;
        }
        h2{
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        p{
            font-size: 1rem;
            color: var(--snippets-color); 
        } 
        .date{
            margin-top: 10px;
            font-size: 0.75rem;
        }
    }
    .Supported-accordion{
        .evidence{
            img{
                border-color: #3BA0FD;
            }
            h2{
                color: #3BA0FD;
            }
        }
    }
    .Disputed-accordion{
        .evidence{
            img{
                border-color: #F8686A;
            }
            h2{
                color: #F8686A;
            }
        }
    }
    .Neutral-accordion{
        .evidence{
            img{
                border-color: #A86CD0;
            }
            h2{
                color: #A86CD0;
            }
        }
    }
}