@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('accordion.css');
@import url('evidence.css');
@import url('loading.css');


#factChecking{
    --hypothesis-color: #1E1919;
    --accordion-title-color: #7E939A;
    --entailment-border: 2px solid #3BA0FD;
    --contradiction-border: 2px solid #F8686A;
    --neutral-border: 2px solid #A86CD0;
    --claim-color: var(--hypothesis-color);
    --url-color: #524A3E;
    --snippets-color: #5F6368;
    --date-color: #524A3E;
    --show-more-color: #66B5FD;
}

#factChecking {
    *{
        background-color: #FBFCFF;
    }
    > div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        min-height: 100%;
        > div{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        > div:nth-child(2){
            flex: 1;
        }
    }
    #form_add_facts {
        z-index: 1000;
        background-color: #FBFCFF;
        display: flex;
        flex-direction: row; /* Place children side by side */
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        > .textarea-container{
            width: 100%;
            margin-right: 10px;
            > .counter{
                bottom: -5px; /* Adjust as needed */
                left: 10px;
            }
        }
    }

    #form_add_facts textarea {
        margin-right: 10px; /* Space between textarea and button */
        margin-bottom: 0;
        padding-right: 2.5rem;
    }

    #form_add_facts button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px; /* Fixed width for the button */
        background-color: red;
        color: white;
        font-size: 1.5rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        padding: 5px;
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
    }
}
