.textarea-container {
position: relative;
width: fit-content;
padding: 5px;
width: 100%;
}
textarea{
    border: 1px solid #CECECE;
    padding: 0.5rem;  
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Roboto Slab";
}
textarea:focus {
    outline: none !important;
    border: 1px solid #5F6368;
}

.textarea-focused {
    background-color: #D7ECFF !important;
}

.textarea-unfocused {
    background-color: white !important;
}

.textarea-exceed {
    border-color: red !important;
}

.counter {
position: absolute;
bottom: 7px; /* Adjust as needed */
left: 10px;
font-size: 14px;
background-color: white;
z-index: 50;
}
  