@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('accordion.css');
@import url('evidence.css');


#factChecking{
    --hypothesis-color: #1E1919;
    --accordion-title-color: #7E939A;
    --entailment-border: 2px solid #3BA0FD;
    --contradiction-border: 2px solid #F8686A;
    --neutral-border: 2px solid #A86CD0;
    --claim-color: var(--hypothesis-color);
    --url-color: #524A3E;
    --snippets-color: #5F6368;
    --date-color: #524A3E;
    --show-more-color: #66B5FD;
}

#factChecking {
    #form_add_facts {
        display: flex;
        flex-direction: row; /* Place children side by side */
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    #form_add_facts textarea {
        flex-grow: 1; /* Allow textarea to consume the remaining width */
        margin-right: 10px; /* Space between textarea and button */
        width: calc(100% - 60px); /* Adjust width dynamically, considering button width and margin */
    }

    #form_add_facts button {
        height: 50px;
        width: 50px; /* Fixed width for the button */
    }
}
