.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.logo-image {
    height: 30px; /* Adjust the height as needed */
    width: 30px; /* Adjust the width as needed */
    margin: 0;
}