.summary-container {
    padding: 20px; /* Padding around the container */
    padding-top: 30px;
    border-left: 1px solid #ddd; /* Light border */
    max-width: 300px; /* Maximum width */
    margin: 0; /* Center the container */
    font-family: Arial, sans-serif; /* Font family */
    position: relative; /* Position relative */
    padding-left: 40px;
    overflow: auto;
    max-height: 80vh;
}

.summary-container h1 {
    font-size: 24px; /* Font size for h1 */
    color: #333; /* Text color */
    margin-bottom: 10px; /* Margin below h1 */
}

.summary-container h2 {
    font-size: 15px; /* Font size for h2 */
    color: #555; /* Text color */
    margin-bottom: 10px; /* Margin below h2 */
    font-weight: 500;
}

